.card {
    padding: 1.5rem;
    &.primary{
        // os estilos daqui serão aplicados a todos os components card e com a class primary
        background-color: #FEF7FF;
        border: 1px solid #CAC4D0;
        border-radius: 0.75rem;
    }

    &.secondary{
        background-color: #F5F5F5;
        border-radius: 1rem;
        
    }
}