.depoimento{
    max-width: 19.833rem;
    background-color: #FEF7FF;
    display: flex;
    flex-direction: row;
    mat-card-content{
        display: flex;
        flex-direction: column;

    }
    .mat-mdc-card-sm-image {
        width: 3.5rem;
        height: 3.5rem;
    }
    mat-card-header {
        display: flex;
        padding: 0;
    }
    mat-card-title{
        font-size: 1rem;
    }

}

