<footer class="app-footer">
    <mat-toolbar>
        <div class="footer-about">
            <img src="assets/imagens/logo-com-tagline.png" alt="">
            <p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
            <p>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</p>
        </div>
        <div class="footer-social">
            <p>Acesse nossas redes sociais:</p>
            <div class="social-icons">
                <button><img src="assets/icones/whatsapp.png" alt=""></button>
                <button><img src="assets/icones/instagram.png" alt=""></button>
                <button><img src="assets/icones/twitter.png" alt=""></button>
            </div>
        </div>
    </mat-toolbar>
</footer>
